body {
    background-color: #FFFFFF;
    font-family: 'Lexend Exa', sans-serif;
}

/* -------------- NAVBAR -------------- */

.ui-menubar.ui-menu {
    background: none !important;
    border: none !important;
    border-radius: 30px !important;
    text-align: center !important;
}

.ui-menu-list {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    align-items: center;
}

.ui-menuitem-text {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.ui-submenu-link {
    margin-left: 15px !important;
    margin-right: 15px !important;
    width: auto !important;
}

.ui-submenu-link > .ui-menuitem-text {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.ui-submenu-link.ui-state-hover {
    background: none !important;
}

.header-logo-menuitem.ui-menuitem-link.ui-state-hover {
    background: none !important;
}

.navItem {
    background: #AED6F1 !important;
    background-color: #AED6F1 !important;
    border: 2px solid #EBECF1 !important;
    border-radius: 30px !important;
    width: fit-content !important;
    height: fit-content !important;
    margin-left: 20px;
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.navbar-search {
    background-color: #F0F0F0 !important;
    border: 2px #EBECF1 !important;
    border-radius: 30px !important;
    margin-left: 5px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.navbar-search > .ui-menuitem-text {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.navbar-search-input {
    background: none !important;
    border: none !important;
    border-radius: 30px !important;
    width: 350px;
}

.myPagesStyle {
    background-color: #D3D3D3 !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.header-logo {
    height: 75px;
    width: 75px;
    background: none !important;
}

.header-logo:hover {
    animation: shake 0.5s;
    height: 75px;
    width: 75px;
    background: none !important;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* ---------- PAGE CONTENT ---------- */

.contentStyle {
    margin-top: 3rem;
}

/* ---------- DEBUG ---------- */

.loggedInFooter {
    position:fixed;
    bottom:0;
    right:0;
}