div {
background-color: #d00;
animation-name: cycle;
animation-duration: 4s;
animation-iteration-count: infinite;
}
@keyframes cycle {
from {background-color: #d00;}
50% {background-color: #7f7;}
to {background-color: #d00;}
}
